.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

@media screen and (max-width: 600px) {
  .App-header {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 599px) {
  .App-header {
    text-align: center;
    background-color: rgb(2, 34, 92);
    height: 60px;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 2px;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .desktop-only {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 599px) {
  .desktop-only {
    visibility: visible;
  }
}

.App-title {
  text-align: center;
  font-size: 1.5em;
}

.App-intro {
  text-align: center;
  font-size: large;
}

.App-context {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* hide all file type button and replace with label */
input[type='file'] {
  display: none;
}
.uploadBtnL {
  background-color: black;
  color: white;
  border: 1px;
  padding: 8px 10px;
  border-radius: 4px;
}
.uploadBtnL:hover {
  background-color: white;
  color: purple;
  border: 1px;
  padding: 8px 10px;
  border-radius: 4px;
}

@media screen and (min-width: 599px) {
  .metamask-arrow {
    border-radius: 4px;
    color: black;
    padding: 2px 10px 2px 10px;
    background-color: rgba(91, 192, 222, 0.9);
    color: white;
    position: fixed;
    right: 0px;
    top: 0px;
    opacity: 0.9;
  }
}

.tooltip-inner {
  white-space:pre;
  max-width:none;
}
